[package]
name = "tower-sessions-surrealdb-store"
version = "0.5.1"
edition = "2021"
description = "SurrealDB session store. Not for direct use; see the `tower-sessions` crate for details."
authors = ["Calum Sieppert <sieppertcalum@gmail.com>"]
license = "MIT"
homepage = "https://github.com/rynoV/tower-sessions-surrealdb-store"
keywords = ["axum", "sessions", "cookie", "tower", "surrealdb"]
categories = ["asynchronous", "network-programming", "web-programming"]
repository = "https://github.com/rynoV/tower-sessions-surrealdb-store"
documentation = "https://docs.rs/tower-sessions-surrealdb-store"
readme = "README.md"
resolver = "2"

[dependencies]
async-trait = "0.1.75"
rmp-serde = "1.1.2"
serde = "1.0.193"
surrealdb = { version = "^2.0.0", optional = true }
surrealdb-nightly = { version = "^2.0.20240916", optional = true }
tower-sessions-core = { version = "0.14.0", features = ["deletion-task"] }
tracing = "0.1.40"

[features]
default = ["surrealdb"]
surrealdb = ["dep:surrealdb"]
surrealdb-nightly = ["dep:surrealdb-nightly"]

[dev-dependencies]
axum = "0.8.1"
axum-core = "0.5.0"
serde_json = "1.0.108"
surrealdb = { version = "^2.0.0", features = ["kv-mem"] }
tokio = "1.35.1"
tokio-test = "0.4.3"
tower = "0.5.1"
tower-sessions = "0.14.0"

[[example]]
name = "counter"
